$Amaranth-font: "Amaranth";

@font-face {
  font-family: $Amaranth-font;
  src: url("./fonts/Amaranth.woff?b0eee2d63702d16cea446abf49d597b8") format("woff"),
url("./fonts/Amaranth.woff2?b0eee2d63702d16cea446abf49d597b8") format("woff2");
}

.ai {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: Amaranth !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  height: 1em;
  width: 1em;
  line-height: 1;
  text-rendering: auto;
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  vertical-align: 0;
  flex-shrink: 0;
}

.ai-spin {
  animation-name: animate-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.ai-rotate-90 {
  transform: rotate(90deg);
}

.ai-rotate-180 {
  transform: rotate(180deg);
}

.ai-rotate-270 {
  transform: rotate(270deg);
}

.ai-flip-x {
  transform: scaleX(-1);
}

.ai-flip-y {
  transform: scaleY(-1);
}

.ai-flip {
  transform: scale(-1);
}

@keyframes animate-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

$Amaranth-map: (
  "a-gum": "\f101",
  "address-book": "\f102",
  "angle-down": "\f103",
  "angle-left": "\f104",
  "angle-right": "\f105",
  "angle-up": "\f106",
  "angles-y": "\f107",
  "apple-app-store": "\f108",
  "arrow-down-short-wide": "\f109",
  "arrow-down-to-line": "\f10a",
  "arrow-down-wide-short": "\f10b",
  "arrow-down": "\f10c",
  "arrow-left-from-bracket": "\f10d",
  "arrow-left-to-bracket": "\f10e",
  "arrow-left-to-line": "\f10f",
  "arrow-left": "\f110",
  "arrow-pointer": "\f111",
  "arrow-right-from-bracket": "\f112",
  "arrow-right-prohibited": "\f113",
  "arrow-right-to-bracket": "\f114",
  "arrow-right-to-line": "\f115",
  "arrow-right": "\f116",
  "arrow-rotate-right": "\f117",
  "arrow-up-short-wide": "\f118",
  "arrow-up-to-line": "\f119",
  "arrow-up-wide-short": "\f11a",
  "arrow-up": "\f11b",
  "arrows-rotate-right": "\f11c",
  "asterisk": "\f11d",
  "at": "\f11e",
  "backward": "\f11f",
  "bars": "\f120",
  "blf": "\f121",
  "bold": "\f122",
  "book": "\f123",
  "box-open-full": "\f124",
  "brackets-curly": "\f125",
  "bug": "\f126",
  "building": "\f127",
  "calendar-stars": "\f128",
  "calendar": "\f129",
  "chain-slash": "\f12a",
  "chain": "\f12b",
  "chart-pie": "\f12c",
  "check": "\f12d",
  "chevron-down": "\f12e",
  "chevron-left": "\f12f",
  "chevron-right": "\f130",
  "chevron-up": "\f131",
  "chrome": "\f132",
  "circle-check": "\f133",
  "circle-exclamation": "\f134",
  "circle-info": "\f135",
  "circle-plus": "\f136",
  "circle-question": "\f137",
  "circle-user": "\f138",
  "circle-xmark": "\f139",
  "city": "\f13a",
  "clock-rotate-left": "\f13b",
  "clock": "\f13c",
  "code": "\f13d",
  "codeblock": "\f13e",
  "compass": "\f13f",
  "compress": "\f140",
  "copy": "\f141",
  "devices": "\f142",
  "display": "\f143",
  "earth": "\f144",
  "eclipse": "\f145",
  "edge": "\f146",
  "ellipsis": "\f147",
  "envelope": "\f148",
  "ethernet": "\f149",
  "euro": "\f14a",
  "expand": "\f14b",
  "eye-slash": "\f14c",
  "eye": "\f14d",
  "facebook-messenger": "\f14e",
  "facebook": "\f14f",
  "fast-backward": "\f150",
  "fast-forward": "\f151",
  "fax": "\f152",
  "file": "\f153",
  "files-list": "\f154",
  "files": "\f155",
  "filmstrip": "\f156",
  "filter-plus": "\f157",
  "filter-xmark": "\f158",
  "filter": "\f159",
  "fingerprint": "\f15a",
  "firefox": "\f15b",
  "flag-checkered": "\f15c",
  "flag": "\f15d",
  "floppy-disk": "\f15e",
  "folder": "\f15f",
  "forward": "\f160",
  "gauge": "\f161",
  "gear": "\f162",
  "gift": "\f163",
  "github": "\f164",
  "google-play": "\f165",
  "grid": "\f166",
  "grip-lines": "\f167",
  "heading-1": "\f168",
  "heading-2": "\f169",
  "heading-3": "\f16a",
  "heading-4": "\f16b",
  "heading-5": "\f16c",
  "heading-6": "\f16d",
  "headset": "\f16e",
  "heart-crack": "\f16f",
  "heart-half": "\f170",
  "heart": "\f171",
  "house": "\f172",
  "id-card": "\f173",
  "image": "\f174",
  "italic": "\f175",
  "laptop": "\f176",
  "layers-plus": "\f177",
  "layers": "\f178",
  "lightbulb-on": "\f179",
  "lightbulb": "\f17a",
  "line": "\f17b",
  "linkedin": "\f17c",
  "list-checks": "\f17d",
  "list-clock": "\f17e",
  "list-ordered-clock": "\f17f",
  "list-ordered": "\f180",
  "list": "\f181",
  "location-pin-dot": "\f182",
  "location-pin-slash": "\f183",
  "location-pin": "\f184",
  "location-pins-route": "\f185",
  "lock-open": "\f186",
  "lock": "\f187",
  "magnifying-glass": "\f188",
  "megaphone": "\f189",
  "message-pen": "\f18a",
  "message-smile": "\f18b",
  "message-text": "\f18c",
  "message": "\f18d",
  "microphone": "\f18e",
  "moon": "\f18f",
  "music": "\f190",
  "network": "\f191",
  "numpad": "\f192",
  "paper-plane": "\f193",
  "parachute-box": "\f194",
  "paragraph": "\f195",
  "pause": "\f196",
  "pen": "\f197",
  "people-circle": "\f198",
  "people": "\f199",
  "person-clock": "\f19a",
  "person-gear": "\f19b",
  "person-headset": "\f19c",
  "person-list": "\f19d",
  "person-lock": "\f19e",
  "person-plus": "\f19f",
  "person": "\f1a0",
  "phone-arrow-down-left-prohibited": "\f1a1",
  "phone-arrow-down-left": "\f1a2",
  "phone-arrow-up-right-prohibited": "\f1a3",
  "phone-arrow-up-right": "\f1a4",
  "phone-clock": "\f1a5",
  "phone-gear": "\f1a6",
  "phone-list": "\f1a7",
  "phone-office": "\f1a8",
  "phone-volume": "\f1a9",
  "phone": "\f1aa",
  "play-pause": "\f1ab",
  "play": "\f1ac",
  "plus": "\f1ad",
  "power": "\f1ae",
  "prohibited": "\f1af",
  "puzzle-piece": "\f1b0",
  "quote": "\f1b1",
  "redo": "\f1b2",
  "repeat-once": "\f1b3",
  "repeat": "\f1b4",
  "safari": "\f1b5",
  "server": "\f1b6",
  "shield-keyhole": "\f1b7",
  "shield-plus": "\f1b8",
  "shield-xmark": "\f1b9",
  "shield": "\f1ba",
  "shuffle": "\f1bb",
  "sim-card": "\f1bc",
  "sippy": "\f1bd",
  "sliders": "\f1be",
  "smartphone-arrow-right": "\f1bf",
  "smartphone": "\f1c0",
  "spinner-third": "\f1c1",
  "spy": "\f1c2",
  "square-gum": "\f1c3",
  "star": "\f1c4",
  "stop": "\f1c5",
  "store": "\f1c6",
  "strikethrough": "\f1c7",
  "sun": "\f1c8",
  "swatchbook": "\f1c9",
  "table-clock": "\f1ca",
  "table": "\f1cb",
  "tag": "\f1cc",
  "tower-broadcast": "\f1cd",
  "trash-can": "\f1ce",
  "triangle-exclamation": "\f1cf",
  "underline": "\f1d0",
  "undo": "\f1d1",
  "valkyrie-sword": "\f1d2",
  "video": "\f1d3",
  "voicemail": "\f1d4",
  "volume-0": "\f1d5",
  "volume-1": "\f1d6",
  "volume-2": "\f1d7",
  "volume-3": "\f1d8",
  "volume-slash": "\f1d9",
  "wallpaper": "\f1da",
  "waveform": "\f1db",
  "webhooks-clock": "\f1dc",
  "webhooks": "\f1dd",
  "window": "\f1de",
  "xmark": "\f1df",
  "music-pause": "\f1e0",
  "list-checks-xmark": "\f1e1",
  "circle-person": "\f1e2",
  "circle-half-inner": "\f1e3",
  "circle-half": "\f1e4",
  "calendar-clock": "\f1e5",
  "calendar-range": "\f1e6",
  "table-header-column": "\f1e7",
  "table-header-row": "\f1e8",
  "calendar-range-clock": "\f1e9",
  "next": "\f1ea",
  "previous": "\f1eb",
  "tag-plus": "\f1ec",
  "tag-gear": "\f1ed",
  "p-square": "\f1ee",
  "translate": "\f1ef",
  "square-p": "\f1f0",
  "rectangle-p": "\f1f1",
  "pager": "\f1f2",
  "speaker-grill": "\f1f3",
  "circle-dashed": "\f1f4",
  "share": "\f1f5",
  "door": "\f1f6",
  "pin-slash": "\f1f7",
  "pin": "\f1f8",
  "sidebar-left": "\f1f9",
  "sidebar-right": "\f1fa",
  "toggle-off": "\f1fb",
  "toggle-on": "\f1fc",
  "logo-white": "\f1fd",
  "chalkboard-person": "\f1fe",
  "life-ring": "\f1ff",
  "key": "\f200",
  "azure": "\f201",
  "bars-staggered": "\f202",
  "branch": "\f203",
  "change-windows": "\f204",
  "chip": "\f205",
  "disc": "\f206",
  "display-cam": "\f207",
  "patreon": "\f208",
  "smartphone-hinge": "\f209",
  "twitter": "\f20a",
  "virtual-reality": "\f20b",
  "visual-studio": "\f20c",
  "windows": "\f20d",
  "xbox": "\f20e",
  "alarm-clock": "\f20f",
  "arrows-down-left-right-up-center": "\f210",
  "beer": "\f211",
  "bel": "\f212",
  "bicycle": "\f213",
  "book-open": "\f214",
  "bootstrap": "\f215",
  "box": "\f216",
  "branch-up": "\f217",
  "calendar-day": "\f218",
  "calendar-week": "\f219",
  "code-branch-up": "\f21a",
  "code-branch": "\f21b",
  "campfire": "\f21c",
  "car": "\f21d",
  "amaranth": "\f21e",
  "coin": "\f21f",
  "compass-drafting": "\f220",
  "credit-card": "\f221",
  "microchip": "\f222",
  "terminal": "\f223",
  "compact-disc": "\f224",
  "ellipsis-v": "\f225",
  "folder-image": "\f226",
  "font-awesome": "\f227",
  "gamepad": "\f228",
  "horizontal-line": "\f229",
  "hourglass-empty": "\f22a",
  "hourglass-end": "\f22b",
  "hourglass-half": "\f22c",
  "hourglass-start": "\f22d",
  "instagram": "\f22e",
  "jester-hat": "\f22f",
  "laravel": "\f230",
  "min": "\f231",
  "paper": "\f232",
  "plane": "\f233",
  "plate-utensils": "\f234",
  "printer": "\f235",
  "notes": "\f236",
  "kite": "\f237",
  "thumbstack-slash": "\f238",
  "thumbstack": "\f239",
  "shoe-prints": "\f23a",
  "signature": "\f23b",
  "star-half": "\f23c",
  "starscout": "\f23d",
  "stopwatch": "\f23e",
  "tiktok": "\f23f",
  "tent": "\f240",
  "receipt": "\f241",
  "rocket": "\f242",
  "scouting": "\f243",
  "ticket": "\f244",
);

.ai.ai-a-gum:before {
  content: map-get($Amaranth-map, "a-gum");
}
.ai.ai-address-book:before {
  content: map-get($Amaranth-map, "address-book");
}
.ai.ai-angle-down:before {
  content: map-get($Amaranth-map, "angle-down");
}
.ai.ai-angle-left:before {
  content: map-get($Amaranth-map, "angle-left");
}
.ai.ai-angle-right:before {
  content: map-get($Amaranth-map, "angle-right");
}
.ai.ai-angle-up:before {
  content: map-get($Amaranth-map, "angle-up");
}
.ai.ai-angles-y:before {
  content: map-get($Amaranth-map, "angles-y");
}
.ai.ai-apple-app-store:before {
  content: map-get($Amaranth-map, "apple-app-store");
}
.ai.ai-arrow-down-short-wide:before {
  content: map-get($Amaranth-map, "arrow-down-short-wide");
}
.ai.ai-arrow-down-to-line:before {
  content: map-get($Amaranth-map, "arrow-down-to-line");
}
.ai.ai-arrow-down-wide-short:before {
  content: map-get($Amaranth-map, "arrow-down-wide-short");
}
.ai.ai-arrow-down:before {
  content: map-get($Amaranth-map, "arrow-down");
}
.ai.ai-arrow-left-from-bracket:before {
  content: map-get($Amaranth-map, "arrow-left-from-bracket");
}
.ai.ai-arrow-left-to-bracket:before {
  content: map-get($Amaranth-map, "arrow-left-to-bracket");
}
.ai.ai-arrow-left-to-line:before {
  content: map-get($Amaranth-map, "arrow-left-to-line");
}
.ai.ai-arrow-left:before {
  content: map-get($Amaranth-map, "arrow-left");
}
.ai.ai-arrow-pointer:before {
  content: map-get($Amaranth-map, "arrow-pointer");
}
.ai.ai-arrow-right-from-bracket:before {
  content: map-get($Amaranth-map, "arrow-right-from-bracket");
}
.ai.ai-arrow-right-prohibited:before {
  content: map-get($Amaranth-map, "arrow-right-prohibited");
}
.ai.ai-arrow-right-to-bracket:before {
  content: map-get($Amaranth-map, "arrow-right-to-bracket");
}
.ai.ai-arrow-right-to-line:before {
  content: map-get($Amaranth-map, "arrow-right-to-line");
}
.ai.ai-arrow-right:before {
  content: map-get($Amaranth-map, "arrow-right");
}
.ai.ai-arrow-rotate-right:before {
  content: map-get($Amaranth-map, "arrow-rotate-right");
}
.ai.ai-arrow-up-short-wide:before {
  content: map-get($Amaranth-map, "arrow-up-short-wide");
}
.ai.ai-arrow-up-to-line:before {
  content: map-get($Amaranth-map, "arrow-up-to-line");
}
.ai.ai-arrow-up-wide-short:before {
  content: map-get($Amaranth-map, "arrow-up-wide-short");
}
.ai.ai-arrow-up:before {
  content: map-get($Amaranth-map, "arrow-up");
}
.ai.ai-arrows-rotate-right:before {
  content: map-get($Amaranth-map, "arrows-rotate-right");
}
.ai.ai-asterisk:before {
  content: map-get($Amaranth-map, "asterisk");
}
.ai.ai-at:before {
  content: map-get($Amaranth-map, "at");
}
.ai.ai-backward:before {
  content: map-get($Amaranth-map, "backward");
}
.ai.ai-bars:before {
  content: map-get($Amaranth-map, "bars");
}
.ai.ai-blf:before {
  content: map-get($Amaranth-map, "blf");
}
.ai.ai-bold:before {
  content: map-get($Amaranth-map, "bold");
}
.ai.ai-book:before {
  content: map-get($Amaranth-map, "book");
}
.ai.ai-box-open-full:before {
  content: map-get($Amaranth-map, "box-open-full");
}
.ai.ai-brackets-curly:before {
  content: map-get($Amaranth-map, "brackets-curly");
}
.ai.ai-bug:before {
  content: map-get($Amaranth-map, "bug");
}
.ai.ai-building:before {
  content: map-get($Amaranth-map, "building");
}
.ai.ai-calendar-stars:before {
  content: map-get($Amaranth-map, "calendar-stars");
}
.ai.ai-calendar:before {
  content: map-get($Amaranth-map, "calendar");
}
.ai.ai-chain-slash:before {
  content: map-get($Amaranth-map, "chain-slash");
}
.ai.ai-chain:before {
  content: map-get($Amaranth-map, "chain");
}
.ai.ai-chart-pie:before {
  content: map-get($Amaranth-map, "chart-pie");
}
.ai.ai-check:before {
  content: map-get($Amaranth-map, "check");
}
.ai.ai-chevron-down:before {
  content: map-get($Amaranth-map, "chevron-down");
}
.ai.ai-chevron-left:before {
  content: map-get($Amaranth-map, "chevron-left");
}
.ai.ai-chevron-right:before {
  content: map-get($Amaranth-map, "chevron-right");
}
.ai.ai-chevron-up:before {
  content: map-get($Amaranth-map, "chevron-up");
}
.ai.ai-chrome:before {
  content: map-get($Amaranth-map, "chrome");
}
.ai.ai-circle-check:before {
  content: map-get($Amaranth-map, "circle-check");
}
.ai.ai-circle-exclamation:before {
  content: map-get($Amaranth-map, "circle-exclamation");
}
.ai.ai-circle-info:before {
  content: map-get($Amaranth-map, "circle-info");
}
.ai.ai-circle-plus:before {
  content: map-get($Amaranth-map, "circle-plus");
}
.ai.ai-circle-question:before {
  content: map-get($Amaranth-map, "circle-question");
}
.ai.ai-circle-user:before {
  content: map-get($Amaranth-map, "circle-user");
}
.ai.ai-circle-xmark:before {
  content: map-get($Amaranth-map, "circle-xmark");
}
.ai.ai-city:before {
  content: map-get($Amaranth-map, "city");
}
.ai.ai-clock-rotate-left:before {
  content: map-get($Amaranth-map, "clock-rotate-left");
}
.ai.ai-clock:before {
  content: map-get($Amaranth-map, "clock");
}
.ai.ai-code:before {
  content: map-get($Amaranth-map, "code");
}
.ai.ai-codeblock:before {
  content: map-get($Amaranth-map, "codeblock");
}
.ai.ai-compass:before {
  content: map-get($Amaranth-map, "compass");
}
.ai.ai-compress:before {
  content: map-get($Amaranth-map, "compress");
}
.ai.ai-copy:before {
  content: map-get($Amaranth-map, "copy");
}
.ai.ai-devices:before {
  content: map-get($Amaranth-map, "devices");
}
.ai.ai-display:before {
  content: map-get($Amaranth-map, "display");
}
.ai.ai-earth:before {
  content: map-get($Amaranth-map, "earth");
}
.ai.ai-eclipse:before {
  content: map-get($Amaranth-map, "eclipse");
}
.ai.ai-edge:before {
  content: map-get($Amaranth-map, "edge");
}
.ai.ai-ellipsis:before {
  content: map-get($Amaranth-map, "ellipsis");
}
.ai.ai-envelope:before {
  content: map-get($Amaranth-map, "envelope");
}
.ai.ai-ethernet:before {
  content: map-get($Amaranth-map, "ethernet");
}
.ai.ai-euro:before {
  content: map-get($Amaranth-map, "euro");
}
.ai.ai-expand:before {
  content: map-get($Amaranth-map, "expand");
}
.ai.ai-eye-slash:before {
  content: map-get($Amaranth-map, "eye-slash");
}
.ai.ai-eye:before {
  content: map-get($Amaranth-map, "eye");
}
.ai.ai-facebook-messenger:before {
  content: map-get($Amaranth-map, "facebook-messenger");
}
.ai.ai-facebook:before {
  content: map-get($Amaranth-map, "facebook");
}
.ai.ai-fast-backward:before {
  content: map-get($Amaranth-map, "fast-backward");
}
.ai.ai-fast-forward:before {
  content: map-get($Amaranth-map, "fast-forward");
}
.ai.ai-fax:before {
  content: map-get($Amaranth-map, "fax");
}
.ai.ai-file:before {
  content: map-get($Amaranth-map, "file");
}
.ai.ai-files-list:before {
  content: map-get($Amaranth-map, "files-list");
}
.ai.ai-files:before {
  content: map-get($Amaranth-map, "files");
}
.ai.ai-filmstrip:before {
  content: map-get($Amaranth-map, "filmstrip");
}
.ai.ai-filter-plus:before {
  content: map-get($Amaranth-map, "filter-plus");
}
.ai.ai-filter-xmark:before {
  content: map-get($Amaranth-map, "filter-xmark");
}
.ai.ai-filter:before {
  content: map-get($Amaranth-map, "filter");
}
.ai.ai-fingerprint:before {
  content: map-get($Amaranth-map, "fingerprint");
}
.ai.ai-firefox:before {
  content: map-get($Amaranth-map, "firefox");
}
.ai.ai-flag-checkered:before {
  content: map-get($Amaranth-map, "flag-checkered");
}
.ai.ai-flag:before {
  content: map-get($Amaranth-map, "flag");
}
.ai.ai-floppy-disk:before {
  content: map-get($Amaranth-map, "floppy-disk");
}
.ai.ai-folder:before {
  content: map-get($Amaranth-map, "folder");
}
.ai.ai-forward:before {
  content: map-get($Amaranth-map, "forward");
}
.ai.ai-gauge:before {
  content: map-get($Amaranth-map, "gauge");
}
.ai.ai-gear:before {
  content: map-get($Amaranth-map, "gear");
}
.ai.ai-gift:before {
  content: map-get($Amaranth-map, "gift");
}
.ai.ai-github:before {
  content: map-get($Amaranth-map, "github");
}
.ai.ai-google-play:before {
  content: map-get($Amaranth-map, "google-play");
}
.ai.ai-grid:before {
  content: map-get($Amaranth-map, "grid");
}
.ai.ai-grip-lines:before {
  content: map-get($Amaranth-map, "grip-lines");
}
.ai.ai-heading-1:before {
  content: map-get($Amaranth-map, "heading-1");
}
.ai.ai-heading-2:before {
  content: map-get($Amaranth-map, "heading-2");
}
.ai.ai-heading-3:before {
  content: map-get($Amaranth-map, "heading-3");
}
.ai.ai-heading-4:before {
  content: map-get($Amaranth-map, "heading-4");
}
.ai.ai-heading-5:before {
  content: map-get($Amaranth-map, "heading-5");
}
.ai.ai-heading-6:before {
  content: map-get($Amaranth-map, "heading-6");
}
.ai.ai-headset:before {
  content: map-get($Amaranth-map, "headset");
}
.ai.ai-heart-crack:before {
  content: map-get($Amaranth-map, "heart-crack");
}
.ai.ai-heart-half:before {
  content: map-get($Amaranth-map, "heart-half");
}
.ai.ai-heart:before {
  content: map-get($Amaranth-map, "heart");
}
.ai.ai-house:before {
  content: map-get($Amaranth-map, "house");
}
.ai.ai-id-card:before {
  content: map-get($Amaranth-map, "id-card");
}
.ai.ai-image:before {
  content: map-get($Amaranth-map, "image");
}
.ai.ai-italic:before {
  content: map-get($Amaranth-map, "italic");
}
.ai.ai-laptop:before {
  content: map-get($Amaranth-map, "laptop");
}
.ai.ai-layers-plus:before {
  content: map-get($Amaranth-map, "layers-plus");
}
.ai.ai-layers:before {
  content: map-get($Amaranth-map, "layers");
}
.ai.ai-lightbulb-on:before {
  content: map-get($Amaranth-map, "lightbulb-on");
}
.ai.ai-lightbulb:before {
  content: map-get($Amaranth-map, "lightbulb");
}
.ai.ai-line:before {
  content: map-get($Amaranth-map, "line");
}
.ai.ai-linkedin:before {
  content: map-get($Amaranth-map, "linkedin");
}
.ai.ai-list-checks:before {
  content: map-get($Amaranth-map, "list-checks");
}
.ai.ai-list-clock:before {
  content: map-get($Amaranth-map, "list-clock");
}
.ai.ai-list-ordered-clock:before {
  content: map-get($Amaranth-map, "list-ordered-clock");
}
.ai.ai-list-ordered:before {
  content: map-get($Amaranth-map, "list-ordered");
}
.ai.ai-list:before {
  content: map-get($Amaranth-map, "list");
}
.ai.ai-location-pin-dot:before {
  content: map-get($Amaranth-map, "location-pin-dot");
}
.ai.ai-location-pin-slash:before {
  content: map-get($Amaranth-map, "location-pin-slash");
}
.ai.ai-location-pin:before {
  content: map-get($Amaranth-map, "location-pin");
}
.ai.ai-location-pins-route:before {
  content: map-get($Amaranth-map, "location-pins-route");
}
.ai.ai-lock-open:before {
  content: map-get($Amaranth-map, "lock-open");
}
.ai.ai-lock:before {
  content: map-get($Amaranth-map, "lock");
}
.ai.ai-magnifying-glass:before {
  content: map-get($Amaranth-map, "magnifying-glass");
}
.ai.ai-megaphone:before {
  content: map-get($Amaranth-map, "megaphone");
}
.ai.ai-message-pen:before {
  content: map-get($Amaranth-map, "message-pen");
}
.ai.ai-message-smile:before {
  content: map-get($Amaranth-map, "message-smile");
}
.ai.ai-message-text:before {
  content: map-get($Amaranth-map, "message-text");
}
.ai.ai-message:before {
  content: map-get($Amaranth-map, "message");
}
.ai.ai-microphone:before {
  content: map-get($Amaranth-map, "microphone");
}
.ai.ai-moon:before {
  content: map-get($Amaranth-map, "moon");
}
.ai.ai-music:before {
  content: map-get($Amaranth-map, "music");
}
.ai.ai-network:before {
  content: map-get($Amaranth-map, "network");
}
.ai.ai-numpad:before {
  content: map-get($Amaranth-map, "numpad");
}
.ai.ai-paper-plane:before {
  content: map-get($Amaranth-map, "paper-plane");
}
.ai.ai-parachute-box:before {
  content: map-get($Amaranth-map, "parachute-box");
}
.ai.ai-paragraph:before {
  content: map-get($Amaranth-map, "paragraph");
}
.ai.ai-pause:before {
  content: map-get($Amaranth-map, "pause");
}
.ai.ai-pen:before {
  content: map-get($Amaranth-map, "pen");
}
.ai.ai-people-circle:before {
  content: map-get($Amaranth-map, "people-circle");
}
.ai.ai-people:before {
  content: map-get($Amaranth-map, "people");
}
.ai.ai-person-clock:before {
  content: map-get($Amaranth-map, "person-clock");
}
.ai.ai-person-gear:before {
  content: map-get($Amaranth-map, "person-gear");
}
.ai.ai-person-headset:before {
  content: map-get($Amaranth-map, "person-headset");
}
.ai.ai-person-list:before {
  content: map-get($Amaranth-map, "person-list");
}
.ai.ai-person-lock:before {
  content: map-get($Amaranth-map, "person-lock");
}
.ai.ai-person-plus:before {
  content: map-get($Amaranth-map, "person-plus");
}
.ai.ai-person:before {
  content: map-get($Amaranth-map, "person");
}
.ai.ai-phone-arrow-down-left-prohibited:before {
  content: map-get($Amaranth-map, "phone-arrow-down-left-prohibited");
}
.ai.ai-phone-arrow-down-left:before {
  content: map-get($Amaranth-map, "phone-arrow-down-left");
}
.ai.ai-phone-arrow-up-right-prohibited:before {
  content: map-get($Amaranth-map, "phone-arrow-up-right-prohibited");
}
.ai.ai-phone-arrow-up-right:before {
  content: map-get($Amaranth-map, "phone-arrow-up-right");
}
.ai.ai-phone-clock:before {
  content: map-get($Amaranth-map, "phone-clock");
}
.ai.ai-phone-gear:before {
  content: map-get($Amaranth-map, "phone-gear");
}
.ai.ai-phone-list:before {
  content: map-get($Amaranth-map, "phone-list");
}
.ai.ai-phone-office:before {
  content: map-get($Amaranth-map, "phone-office");
}
.ai.ai-phone-volume:before {
  content: map-get($Amaranth-map, "phone-volume");
}
.ai.ai-phone:before {
  content: map-get($Amaranth-map, "phone");
}
.ai.ai-play-pause:before {
  content: map-get($Amaranth-map, "play-pause");
}
.ai.ai-play:before {
  content: map-get($Amaranth-map, "play");
}
.ai.ai-plus:before {
  content: map-get($Amaranth-map, "plus");
}
.ai.ai-power:before {
  content: map-get($Amaranth-map, "power");
}
.ai.ai-prohibited:before {
  content: map-get($Amaranth-map, "prohibited");
}
.ai.ai-puzzle-piece:before {
  content: map-get($Amaranth-map, "puzzle-piece");
}
.ai.ai-quote:before {
  content: map-get($Amaranth-map, "quote");
}
.ai.ai-redo:before {
  content: map-get($Amaranth-map, "redo");
}
.ai.ai-repeat-once:before {
  content: map-get($Amaranth-map, "repeat-once");
}
.ai.ai-repeat:before {
  content: map-get($Amaranth-map, "repeat");
}
.ai.ai-safari:before {
  content: map-get($Amaranth-map, "safari");
}
.ai.ai-server:before {
  content: map-get($Amaranth-map, "server");
}
.ai.ai-shield-keyhole:before {
  content: map-get($Amaranth-map, "shield-keyhole");
}
.ai.ai-shield-plus:before {
  content: map-get($Amaranth-map, "shield-plus");
}
.ai.ai-shield-xmark:before {
  content: map-get($Amaranth-map, "shield-xmark");
}
.ai.ai-shield:before {
  content: map-get($Amaranth-map, "shield");
}
.ai.ai-shuffle:before {
  content: map-get($Amaranth-map, "shuffle");
}
.ai.ai-sim-card:before {
  content: map-get($Amaranth-map, "sim-card");
}
.ai.ai-sippy:before {
  content: map-get($Amaranth-map, "sippy");
}
.ai.ai-sliders:before {
  content: map-get($Amaranth-map, "sliders");
}
.ai.ai-smartphone-arrow-right:before {
  content: map-get($Amaranth-map, "smartphone-arrow-right");
}
.ai.ai-smartphone:before {
  content: map-get($Amaranth-map, "smartphone");
}
.ai.ai-spinner-third:before {
  content: map-get($Amaranth-map, "spinner-third");
}
.ai.ai-spy:before {
  content: map-get($Amaranth-map, "spy");
}
.ai.ai-square-gum:before {
  content: map-get($Amaranth-map, "square-gum");
}
.ai.ai-star:before {
  content: map-get($Amaranth-map, "star");
}
.ai.ai-stop:before {
  content: map-get($Amaranth-map, "stop");
}
.ai.ai-store:before {
  content: map-get($Amaranth-map, "store");
}
.ai.ai-strikethrough:before {
  content: map-get($Amaranth-map, "strikethrough");
}
.ai.ai-sun:before {
  content: map-get($Amaranth-map, "sun");
}
.ai.ai-swatchbook:before {
  content: map-get($Amaranth-map, "swatchbook");
}
.ai.ai-table-clock:before {
  content: map-get($Amaranth-map, "table-clock");
}
.ai.ai-table:before {
  content: map-get($Amaranth-map, "table");
}
.ai.ai-tag:before {
  content: map-get($Amaranth-map, "tag");
}
.ai.ai-tower-broadcast:before {
  content: map-get($Amaranth-map, "tower-broadcast");
}
.ai.ai-trash-can:before {
  content: map-get($Amaranth-map, "trash-can");
}
.ai.ai-triangle-exclamation:before {
  content: map-get($Amaranth-map, "triangle-exclamation");
}
.ai.ai-underline:before {
  content: map-get($Amaranth-map, "underline");
}
.ai.ai-undo:before {
  content: map-get($Amaranth-map, "undo");
}
.ai.ai-valkyrie-sword:before {
  content: map-get($Amaranth-map, "valkyrie-sword");
}
.ai.ai-video:before {
  content: map-get($Amaranth-map, "video");
}
.ai.ai-voicemail:before {
  content: map-get($Amaranth-map, "voicemail");
}
.ai.ai-volume-0:before {
  content: map-get($Amaranth-map, "volume-0");
}
.ai.ai-volume-1:before {
  content: map-get($Amaranth-map, "volume-1");
}
.ai.ai-volume-2:before {
  content: map-get($Amaranth-map, "volume-2");
}
.ai.ai-volume-3:before {
  content: map-get($Amaranth-map, "volume-3");
}
.ai.ai-volume-slash:before {
  content: map-get($Amaranth-map, "volume-slash");
}
.ai.ai-wallpaper:before {
  content: map-get($Amaranth-map, "wallpaper");
}
.ai.ai-waveform:before {
  content: map-get($Amaranth-map, "waveform");
}
.ai.ai-webhooks-clock:before {
  content: map-get($Amaranth-map, "webhooks-clock");
}
.ai.ai-webhooks:before {
  content: map-get($Amaranth-map, "webhooks");
}
.ai.ai-window:before {
  content: map-get($Amaranth-map, "window");
}
.ai.ai-xmark:before {
  content: map-get($Amaranth-map, "xmark");
}
.ai.ai-music-pause:before {
  content: map-get($Amaranth-map, "music-pause");
}
.ai.ai-list-checks-xmark:before {
  content: map-get($Amaranth-map, "list-checks-xmark");
}
.ai.ai-circle-person:before {
  content: map-get($Amaranth-map, "circle-person");
}
.ai.ai-circle-half-inner:before {
  content: map-get($Amaranth-map, "circle-half-inner");
}
.ai.ai-circle-half:before {
  content: map-get($Amaranth-map, "circle-half");
}
.ai.ai-calendar-clock:before {
  content: map-get($Amaranth-map, "calendar-clock");
}
.ai.ai-calendar-range:before {
  content: map-get($Amaranth-map, "calendar-range");
}
.ai.ai-table-header-column:before {
  content: map-get($Amaranth-map, "table-header-column");
}
.ai.ai-table-header-row:before {
  content: map-get($Amaranth-map, "table-header-row");
}
.ai.ai-calendar-range-clock:before {
  content: map-get($Amaranth-map, "calendar-range-clock");
}
.ai.ai-next:before {
  content: map-get($Amaranth-map, "next");
}
.ai.ai-previous:before {
  content: map-get($Amaranth-map, "previous");
}
.ai.ai-tag-plus:before {
  content: map-get($Amaranth-map, "tag-plus");
}
.ai.ai-tag-gear:before {
  content: map-get($Amaranth-map, "tag-gear");
}
.ai.ai-p-square:before {
  content: map-get($Amaranth-map, "p-square");
}
.ai.ai-translate:before {
  content: map-get($Amaranth-map, "translate");
}
.ai.ai-square-p:before {
  content: map-get($Amaranth-map, "square-p");
}
.ai.ai-rectangle-p:before {
  content: map-get($Amaranth-map, "rectangle-p");
}
.ai.ai-pager:before {
  content: map-get($Amaranth-map, "pager");
}
.ai.ai-speaker-grill:before {
  content: map-get($Amaranth-map, "speaker-grill");
}
.ai.ai-circle-dashed:before {
  content: map-get($Amaranth-map, "circle-dashed");
}
.ai.ai-share:before {
  content: map-get($Amaranth-map, "share");
}
.ai.ai-door:before {
  content: map-get($Amaranth-map, "door");
}
.ai.ai-pin-slash:before {
  content: map-get($Amaranth-map, "pin-slash");
}
.ai.ai-pin:before {
  content: map-get($Amaranth-map, "pin");
}
.ai.ai-sidebar-left:before {
  content: map-get($Amaranth-map, "sidebar-left");
}
.ai.ai-sidebar-right:before {
  content: map-get($Amaranth-map, "sidebar-right");
}
.ai.ai-toggle-off:before {
  content: map-get($Amaranth-map, "toggle-off");
}
.ai.ai-toggle-on:before {
  content: map-get($Amaranth-map, "toggle-on");
}
.ai.ai-logo-white:before {
  content: map-get($Amaranth-map, "logo-white");
}
.ai.ai-chalkboard-person:before {
  content: map-get($Amaranth-map, "chalkboard-person");
}
.ai.ai-life-ring:before {
  content: map-get($Amaranth-map, "life-ring");
}
.ai.ai-key:before {
  content: map-get($Amaranth-map, "key");
}
.ai.ai-azure:before {
  content: map-get($Amaranth-map, "azure");
}
.ai.ai-bars-staggered:before {
  content: map-get($Amaranth-map, "bars-staggered");
}
.ai.ai-branch:before {
  content: map-get($Amaranth-map, "branch");
}
.ai.ai-change-windows:before {
  content: map-get($Amaranth-map, "change-windows");
}
.ai.ai-chip:before {
  content: map-get($Amaranth-map, "chip");
}
.ai.ai-disc:before {
  content: map-get($Amaranth-map, "disc");
}
.ai.ai-display-cam:before {
  content: map-get($Amaranth-map, "display-cam");
}
.ai.ai-patreon:before {
  content: map-get($Amaranth-map, "patreon");
}
.ai.ai-smartphone-hinge:before {
  content: map-get($Amaranth-map, "smartphone-hinge");
}
.ai.ai-twitter:before {
  content: map-get($Amaranth-map, "twitter");
}
.ai.ai-virtual-reality:before {
  content: map-get($Amaranth-map, "virtual-reality");
}
.ai.ai-visual-studio:before {
  content: map-get($Amaranth-map, "visual-studio");
}
.ai.ai-windows:before {
  content: map-get($Amaranth-map, "windows");
}
.ai.ai-xbox:before {
  content: map-get($Amaranth-map, "xbox");
}
.ai.ai-alarm-clock:before {
  content: map-get($Amaranth-map, "alarm-clock");
}
.ai.ai-arrows-down-left-right-up-center:before {
  content: map-get($Amaranth-map, "arrows-down-left-right-up-center");
}
.ai.ai-beer:before {
  content: map-get($Amaranth-map, "beer");
}
.ai.ai-bel:before {
  content: map-get($Amaranth-map, "bel");
}
.ai.ai-bicycle:before {
  content: map-get($Amaranth-map, "bicycle");
}
.ai.ai-book-open:before {
  content: map-get($Amaranth-map, "book-open");
}
.ai.ai-bootstrap:before {
  content: map-get($Amaranth-map, "bootstrap");
}
.ai.ai-box:before {
  content: map-get($Amaranth-map, "box");
}
.ai.ai-branch-up:before {
  content: map-get($Amaranth-map, "branch-up");
}
.ai.ai-calendar-day:before {
  content: map-get($Amaranth-map, "calendar-day");
}
.ai.ai-calendar-week:before {
  content: map-get($Amaranth-map, "calendar-week");
}
.ai.ai-code-branch-up:before {
  content: map-get($Amaranth-map, "code-branch-up");
}
.ai.ai-code-branch:before {
  content: map-get($Amaranth-map, "code-branch");
}
.ai.ai-campfire:before {
  content: map-get($Amaranth-map, "campfire");
}
.ai.ai-car:before {
  content: map-get($Amaranth-map, "car");
}
.ai.ai-amaranth:before {
  content: map-get($Amaranth-map, "amaranth");
}
.ai.ai-coin:before {
  content: map-get($Amaranth-map, "coin");
}
.ai.ai-compass-drafting:before {
  content: map-get($Amaranth-map, "compass-drafting");
}
.ai.ai-credit-card:before {
  content: map-get($Amaranth-map, "credit-card");
}
.ai.ai-microchip:before {
  content: map-get($Amaranth-map, "microchip");
}
.ai.ai-terminal:before {
  content: map-get($Amaranth-map, "terminal");
}
.ai.ai-compact-disc:before {
  content: map-get($Amaranth-map, "compact-disc");
}
.ai.ai-ellipsis-v:before {
  content: map-get($Amaranth-map, "ellipsis-v");
}
.ai.ai-folder-image:before {
  content: map-get($Amaranth-map, "folder-image");
}
.ai.ai-font-awesome:before {
  content: map-get($Amaranth-map, "font-awesome");
}
.ai.ai-gamepad:before {
  content: map-get($Amaranth-map, "gamepad");
}
.ai.ai-horizontal-line:before {
  content: map-get($Amaranth-map, "horizontal-line");
}
.ai.ai-hourglass-empty:before {
  content: map-get($Amaranth-map, "hourglass-empty");
}
.ai.ai-hourglass-end:before {
  content: map-get($Amaranth-map, "hourglass-end");
}
.ai.ai-hourglass-half:before {
  content: map-get($Amaranth-map, "hourglass-half");
}
.ai.ai-hourglass-start:before {
  content: map-get($Amaranth-map, "hourglass-start");
}
.ai.ai-instagram:before {
  content: map-get($Amaranth-map, "instagram");
}
.ai.ai-jester-hat:before {
  content: map-get($Amaranth-map, "jester-hat");
}
.ai.ai-laravel:before {
  content: map-get($Amaranth-map, "laravel");
}
.ai.ai-min:before {
  content: map-get($Amaranth-map, "min");
}
.ai.ai-paper:before {
  content: map-get($Amaranth-map, "paper");
}
.ai.ai-plane:before {
  content: map-get($Amaranth-map, "plane");
}
.ai.ai-plate-utensils:before {
  content: map-get($Amaranth-map, "plate-utensils");
}
.ai.ai-printer:before {
  content: map-get($Amaranth-map, "printer");
}
.ai.ai-notes:before {
  content: map-get($Amaranth-map, "notes");
}
.ai.ai-kite:before {
  content: map-get($Amaranth-map, "kite");
}
.ai.ai-thumbstack-slash:before {
  content: map-get($Amaranth-map, "thumbstack-slash");
}
.ai.ai-thumbstack:before {
  content: map-get($Amaranth-map, "thumbstack");
}
.ai.ai-shoe-prints:before {
  content: map-get($Amaranth-map, "shoe-prints");
}
.ai.ai-signature:before {
  content: map-get($Amaranth-map, "signature");
}
.ai.ai-star-half:before {
  content: map-get($Amaranth-map, "star-half");
}
.ai.ai-starscout:before {
  content: map-get($Amaranth-map, "starscout");
}
.ai.ai-stopwatch:before {
  content: map-get($Amaranth-map, "stopwatch");
}
.ai.ai-tiktok:before {
  content: map-get($Amaranth-map, "tiktok");
}
.ai.ai-tent:before {
  content: map-get($Amaranth-map, "tent");
}
.ai.ai-receipt:before {
  content: map-get($Amaranth-map, "receipt");
}
.ai.ai-rocket:before {
  content: map-get($Amaranth-map, "rocket");
}
.ai.ai-scouting:before {
  content: map-get($Amaranth-map, "scouting");
}
.ai.ai-ticket:before {
  content: map-get($Amaranth-map, "ticket");
}
