@font-face {
  font-family: "Amaranth";
  src: url("./fonts/Amaranth.woff?35a080fe81020cc33d5e3a50c780dfab") format("woff"), url("./fonts/Amaranth.woff2?35a080fe81020cc33d5e3a50c780dfab") format("woff2");
}
.ai {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: Amaranth !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  height: 1em;
  width: 1em;
  line-height: 1;
  text-rendering: auto;
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  vertical-align: 0;
  flex-shrink: 0;
}

.ai-spin {
  animation-name: animate-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (prefers-reduced-motion: reduce) {
  .ai-spin {
    animation: none;
  }
}

.ai-rotate-90 {
  transform: rotate(90deg);
}

.ai-rotate-180 {
  transform: rotate(180deg);
}

.ai-rotate-270 {
  transform: rotate(270deg);
}

.ai-flip-x {
  transform: scaleX(-1);
}

.ai-flip-y {
  transform: scaleY(-1);
}

.ai-flip {
  transform: scale(-1);
}

@keyframes animate-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ai.ai-a-gum:before {
  content: "\f101";
}

.ai.ai-address-book:before {
  content: "\f102";
}

.ai.ai-angle-down:before {
  content: "\f103";
}

.ai.ai-angle-left:before {
  content: "\f104";
}

.ai.ai-angle-right:before {
  content: "\f105";
}

.ai.ai-angle-up:before {
  content: "\f106";
}

.ai.ai-angles-y:before {
  content: "\f107";
}

.ai.ai-apple-app-store:before {
  content: "\f108";
}

.ai.ai-arrow-down-short-wide:before {
  content: "\f109";
}

.ai.ai-arrow-down-to-line:before {
  content: "\f10a";
}

.ai.ai-arrow-down-wide-short:before {
  content: "\f10b";
}

.ai.ai-arrow-down:before {
  content: "\f10c";
}

.ai.ai-arrow-left-from-bracket:before {
  content: "\f10d";
}

.ai.ai-arrow-left-to-bracket:before {
  content: "\f10e";
}

.ai.ai-arrow-left-to-line:before {
  content: "\f10f";
}

.ai.ai-arrow-left:before {
  content: "\f110";
}

.ai.ai-arrow-pointer:before {
  content: "\f111";
}

.ai.ai-arrow-right-from-bracket:before {
  content: "\f112";
}

.ai.ai-arrow-right-prohibited:before {
  content: "\f113";
}

.ai.ai-arrow-right-to-bracket:before {
  content: "\f114";
}

.ai.ai-arrow-right-to-line:before {
  content: "\f115";
}

.ai.ai-arrow-right:before {
  content: "\f116";
}

.ai.ai-arrow-rotate-right:before {
  content: "\f117";
}

.ai.ai-arrow-up-short-wide:before {
  content: "\f118";
}

.ai.ai-arrow-up-to-line:before {
  content: "\f119";
}

.ai.ai-arrow-up-wide-short:before {
  content: "\f11a";
}

.ai.ai-arrow-up:before {
  content: "\f11b";
}

.ai.ai-arrows-rotate-right:before {
  content: "\f11c";
}

.ai.ai-asterisk:before {
  content: "\f11d";
}

.ai.ai-at:before {
  content: "\f11e";
}

.ai.ai-backward:before {
  content: "\f11f";
}

.ai.ai-bars:before {
  content: "\f120";
}

.ai.ai-blf:before {
  content: "\f121";
}

.ai.ai-bold:before {
  content: "\f122";
}

.ai.ai-book:before {
  content: "\f123";
}

.ai.ai-box-open-full:before {
  content: "\f124";
}

.ai.ai-brackets-curly:before {
  content: "\f125";
}

.ai.ai-bug:before {
  content: "\f126";
}

.ai.ai-building:before {
  content: "\f127";
}

.ai.ai-calendar-stars:before {
  content: "\f128";
}

.ai.ai-calendar:before {
  content: "\f129";
}

.ai.ai-chain-slash:before {
  content: "\f12a";
}

.ai.ai-chain:before {
  content: "\f12b";
}

.ai.ai-chart-pie:before {
  content: "\f12c";
}

.ai.ai-check:before {
  content: "\f12d";
}

.ai.ai-chevron-down:before {
  content: "\f12e";
}

.ai.ai-chevron-left:before {
  content: "\f12f";
}

.ai.ai-chevron-right:before {
  content: "\f130";
}

.ai.ai-chevron-up:before {
  content: "\f131";
}

.ai.ai-chrome:before {
  content: "\f132";
}

.ai.ai-circle-check:before {
  content: "\f133";
}

.ai.ai-circle-exclamation:before {
  content: "\f134";
}

.ai.ai-circle-info:before {
  content: "\f135";
}

.ai.ai-circle-plus:before {
  content: "\f136";
}

.ai.ai-circle-question:before {
  content: "\f137";
}

.ai.ai-circle-user:before {
  content: "\f138";
}

.ai.ai-circle-xmark:before {
  content: "\f139";
}

.ai.ai-city:before {
  content: "\f13a";
}

.ai.ai-clock-rotate-left:before {
  content: "\f13b";
}

.ai.ai-clock:before {
  content: "\f13c";
}

.ai.ai-code:before {
  content: "\f13d";
}

.ai.ai-codeblock:before {
  content: "\f13e";
}

.ai.ai-compass:before {
  content: "\f13f";
}

.ai.ai-compress:before {
  content: "\f140";
}

.ai.ai-copy:before {
  content: "\f141";
}

.ai.ai-devices:before {
  content: "\f142";
}

.ai.ai-display:before {
  content: "\f143";
}

.ai.ai-earth:before {
  content: "\f144";
}

.ai.ai-eclipse:before {
  content: "\f145";
}

.ai.ai-edge:before {
  content: "\f146";
}

.ai.ai-ellipsis:before {
  content: "\f147";
}

.ai.ai-envelope:before {
  content: "\f148";
}

.ai.ai-ethernet:before {
  content: "\f149";
}

.ai.ai-euro:before {
  content: "\f14a";
}

.ai.ai-expand:before {
  content: "\f14b";
}

.ai.ai-eye-slash:before {
  content: "\f14c";
}

.ai.ai-eye:before {
  content: "\f14d";
}

.ai.ai-facebook-messenger:before {
  content: "\f14e";
}

.ai.ai-facebook:before {
  content: "\f14f";
}

.ai.ai-fast-backward:before {
  content: "\f150";
}

.ai.ai-fast-forward:before {
  content: "\f151";
}

.ai.ai-fax:before {
  content: "\f152";
}

.ai.ai-file:before {
  content: "\f153";
}

.ai.ai-files-list:before {
  content: "\f154";
}

.ai.ai-files:before {
  content: "\f155";
}

.ai.ai-filmstrip:before {
  content: "\f156";
}

.ai.ai-filter-plus:before {
  content: "\f157";
}

.ai.ai-filter-xmark:before {
  content: "\f158";
}

.ai.ai-filter:before {
  content: "\f159";
}

.ai.ai-fingerprint:before {
  content: "\f15a";
}

.ai.ai-firefox:before {
  content: "\f15b";
}

.ai.ai-flag-checkered:before {
  content: "\f15c";
}

.ai.ai-flag:before {
  content: "\f15d";
}

.ai.ai-floppy-disk:before {
  content: "\f15e";
}

.ai.ai-folder:before {
  content: "\f15f";
}

.ai.ai-forward:before {
  content: "\f160";
}

.ai.ai-gauge:before {
  content: "\f161";
}

.ai.ai-gear:before {
  content: "\f162";
}

.ai.ai-gift:before {
  content: "\f163";
}

.ai.ai-github:before {
  content: "\f164";
}

.ai.ai-google-play:before {
  content: "\f165";
}

.ai.ai-grid:before {
  content: "\f166";
}

.ai.ai-grip-lines:before {
  content: "\f167";
}

.ai.ai-heading-1:before {
  content: "\f168";
}

.ai.ai-heading-2:before {
  content: "\f169";
}

.ai.ai-heading-3:before {
  content: "\f16a";
}

.ai.ai-heading-4:before {
  content: "\f16b";
}

.ai.ai-heading-5:before {
  content: "\f16c";
}

.ai.ai-heading-6:before {
  content: "\f16d";
}

.ai.ai-headset:before {
  content: "\f16e";
}

.ai.ai-heart-crack:before {
  content: "\f16f";
}

.ai.ai-heart-half:before {
  content: "\f170";
}

.ai.ai-heart:before {
  content: "\f171";
}

.ai.ai-house:before {
  content: "\f172";
}

.ai.ai-id-card:before {
  content: "\f173";
}

.ai.ai-image:before {
  content: "\f174";
}

.ai.ai-italic:before {
  content: "\f175";
}

.ai.ai-laptop:before {
  content: "\f176";
}

.ai.ai-layers-plus:before {
  content: "\f177";
}

.ai.ai-layers:before {
  content: "\f178";
}

.ai.ai-lightbulb-on:before {
  content: "\f179";
}

.ai.ai-lightbulb:before {
  content: "\f17a";
}

.ai.ai-line:before {
  content: "\f17b";
}

.ai.ai-linkedin:before {
  content: "\f17c";
}

.ai.ai-list-checks:before {
  content: "\f17d";
}

.ai.ai-list-clock:before {
  content: "\f17e";
}

.ai.ai-list-ordered-clock:before {
  content: "\f17f";
}

.ai.ai-list-ordered:before {
  content: "\f180";
}

.ai.ai-list:before {
  content: "\f181";
}

.ai.ai-location-pin-dot:before {
  content: "\f182";
}

.ai.ai-location-pin-slash:before {
  content: "\f183";
}

.ai.ai-location-pin:before {
  content: "\f184";
}

.ai.ai-location-pins-route:before {
  content: "\f185";
}

.ai.ai-lock-open:before {
  content: "\f186";
}

.ai.ai-lock:before {
  content: "\f187";
}

.ai.ai-magnifying-glass:before {
  content: "\f188";
}

.ai.ai-megaphone:before {
  content: "\f189";
}

.ai.ai-message-pen:before {
  content: "\f18a";
}

.ai.ai-message-smile:before {
  content: "\f18b";
}

.ai.ai-message-text:before {
  content: "\f18c";
}

.ai.ai-message:before {
  content: "\f18d";
}

.ai.ai-microphone:before {
  content: "\f18e";
}

.ai.ai-moon:before {
  content: "\f18f";
}

.ai.ai-music:before {
  content: "\f190";
}

.ai.ai-network:before {
  content: "\f191";
}

.ai.ai-numpad:before {
  content: "\f192";
}

.ai.ai-paper-plane:before {
  content: "\f193";
}

.ai.ai-parachute-box:before {
  content: "\f194";
}

.ai.ai-paragraph:before {
  content: "\f195";
}

.ai.ai-pause:before {
  content: "\f196";
}

.ai.ai-pen:before {
  content: "\f197";
}

.ai.ai-people-circle:before {
  content: "\f198";
}

.ai.ai-people:before {
  content: "\f199";
}

.ai.ai-person-clock:before {
  content: "\f19a";
}

.ai.ai-person-gear:before {
  content: "\f19b";
}

.ai.ai-person-headset:before {
  content: "\f19c";
}

.ai.ai-person-list:before {
  content: "\f19d";
}

.ai.ai-person-lock:before {
  content: "\f19e";
}

.ai.ai-person-plus:before {
  content: "\f19f";
}

.ai.ai-person:before {
  content: "\f1a0";
}

.ai.ai-phone-arrow-down-left-prohibited:before {
  content: "\f1a1";
}

.ai.ai-phone-arrow-down-left:before {
  content: "\f1a2";
}

.ai.ai-phone-arrow-up-right-prohibited:before {
  content: "\f1a3";
}

.ai.ai-phone-arrow-up-right:before {
  content: "\f1a4";
}

.ai.ai-phone-clock:before {
  content: "\f1a5";
}

.ai.ai-phone-gear:before {
  content: "\f1a6";
}

.ai.ai-phone-list:before {
  content: "\f1a7";
}

.ai.ai-phone-office:before {
  content: "\f1a8";
}

.ai.ai-phone-volume:before {
  content: "\f1a9";
}

.ai.ai-phone:before {
  content: "\f1aa";
}

.ai.ai-play-pause:before {
  content: "\f1ab";
}

.ai.ai-play:before {
  content: "\f1ac";
}

.ai.ai-plus:before {
  content: "\f1ad";
}

.ai.ai-power:before {
  content: "\f1ae";
}

.ai.ai-prohibited:before {
  content: "\f1af";
}

.ai.ai-puzzle-piece:before {
  content: "\f1b0";
}

.ai.ai-quote:before {
  content: "\f1b1";
}

.ai.ai-redo:before {
  content: "\f1b2";
}

.ai.ai-repeat-once:before {
  content: "\f1b3";
}

.ai.ai-repeat:before {
  content: "\f1b4";
}

.ai.ai-safari:before {
  content: "\f1b5";
}

.ai.ai-server:before {
  content: "\f1b6";
}

.ai.ai-shield-keyhole:before {
  content: "\f1b7";
}

.ai.ai-shield-plus:before {
  content: "\f1b8";
}

.ai.ai-shield-xmark:before {
  content: "\f1b9";
}

.ai.ai-shield:before {
  content: "\f1ba";
}

.ai.ai-shuffle:before {
  content: "\f1bb";
}

.ai.ai-sim-card:before {
  content: "\f1bc";
}

.ai.ai-sippy:before {
  content: "\f1bd";
}

.ai.ai-sliders:before {
  content: "\f1be";
}

.ai.ai-smartphone-arrow-right:before {
  content: "\f1bf";
}

.ai.ai-smartphone:before {
  content: "\f1c0";
}

.ai.ai-spinner-third:before {
  content: "\f1c1";
}

.ai.ai-spy:before {
  content: "\f1c2";
}

.ai.ai-square-gum:before {
  content: "\f1c3";
}

.ai.ai-star:before {
  content: "\f1c4";
}

.ai.ai-stop:before {
  content: "\f1c5";
}

.ai.ai-store:before {
  content: "\f1c6";
}

.ai.ai-strikethrough:before {
  content: "\f1c7";
}

.ai.ai-sun:before {
  content: "\f1c8";
}

.ai.ai-swatchbook:before {
  content: "\f1c9";
}

.ai.ai-table-clock:before {
  content: "\f1ca";
}

.ai.ai-table:before {
  content: "\f1cb";
}

.ai.ai-tag:before {
  content: "\f1cc";
}

.ai.ai-tower-broadcast:before {
  content: "\f1cd";
}

.ai.ai-trash-can:before {
  content: "\f1ce";
}

.ai.ai-triangle-exclamation:before {
  content: "\f1cf";
}

.ai.ai-underline:before {
  content: "\f1d0";
}

.ai.ai-undo:before {
  content: "\f1d1";
}

.ai.ai-valkyrie-sword:before {
  content: "\f1d2";
}

.ai.ai-video:before {
  content: "\f1d3";
}

.ai.ai-voicemail:before {
  content: "\f1d4";
}

.ai.ai-volume-0:before {
  content: "\f1d5";
}

.ai.ai-volume-1:before {
  content: "\f1d6";
}

.ai.ai-volume-2:before {
  content: "\f1d7";
}

.ai.ai-volume-3:before {
  content: "\f1d8";
}

.ai.ai-volume-slash:before {
  content: "\f1d9";
}

.ai.ai-wallpaper:before {
  content: "\f1da";
}

.ai.ai-waveform:before {
  content: "\f1db";
}

.ai.ai-webhooks-clock:before {
  content: "\f1dc";
}

.ai.ai-webhooks:before {
  content: "\f1dd";
}

.ai.ai-window:before {
  content: "\f1de";
}

.ai.ai-xmark:before {
  content: "\f1df";
}

.ai.ai-music-pause:before {
  content: "\f1e0";
}

.ai.ai-list-checks-xmark:before {
  content: "\f1e1";
}

.ai.ai-circle-person:before {
  content: "\f1e2";
}

.ai.ai-circle-half-inner:before {
  content: "\f1e3";
}

.ai.ai-circle-half:before {
  content: "\f1e4";
}

.ai.ai-calendar-clock:before {
  content: "\f1e5";
}

.ai.ai-calendar-range:before {
  content: "\f1e6";
}

.ai.ai-table-header-column:before {
  content: "\f1e7";
}

.ai.ai-table-header-row:before {
  content: "\f1e8";
}

.ai.ai-calendar-range-clock:before {
  content: "\f1e9";
}

.ai.ai-next:before {
  content: "\f1ea";
}

.ai.ai-previous:before {
  content: "\f1eb";
}

.ai.ai-tag-plus:before {
  content: "\f1ec";
}

.ai.ai-tag-gear:before {
  content: "\f1ed";
}

.ai.ai-p-square:before {
  content: "\f1ee";
}

.ai.ai-translate:before {
  content: "\f1ef";
}

.ai.ai-square-p:before {
  content: "\f1f0";
}

.ai.ai-rectangle-p:before {
  content: "\f1f1";
}

.ai.ai-pager:before {
  content: "\f1f2";
}

.ai.ai-speaker-grill:before {
  content: "\f1f3";
}

.ai.ai-circle-dashed:before {
  content: "\f1f4";
}

.ai.ai-share:before {
  content: "\f1f5";
}

.ai.ai-door:before {
  content: "\f1f6";
}

.ai.ai-pin-slash:before {
  content: "\f1f7";
}

.ai.ai-pin:before {
  content: "\f1f8";
}

.ai.ai-sidebar-left:before {
  content: "\f1f9";
}

.ai.ai-sidebar-right:before {
  content: "\f1fa";
}

.ai.ai-toggle-off:before {
  content: "\f1fb";
}

.ai.ai-toggle-on:before {
  content: "\f1fc";
}

.ai.ai-logo-white:before {
  content: "\f1fd";
}

.ai.ai-chalkboard-person:before {
  content: "\f1fe";
}

.ai.ai-life-ring:before {
  content: "\f1ff";
}

.ai.ai-key:before {
  content: "\f200";
}

.ai.ai-azure:before {
  content: "\f201";
}

.ai.ai-bars-staggered:before {
  content: "\f202";
}

.ai.ai-branch:before {
  content: "\f203";
}

.ai.ai-change-windows:before {
  content: "\f204";
}

.ai.ai-chip:before {
  content: "\f205";
}

.ai.ai-disc:before {
  content: "\f206";
}

.ai.ai-display-cam:before {
  content: "\f207";
}

.ai.ai-patreon:before {
  content: "\f208";
}

.ai.ai-smartphone-hinge:before {
  content: "\f209";
}

.ai.ai-twitter:before {
  content: "\f20a";
}

.ai.ai-virtual-reality:before {
  content: "\f20b";
}

.ai.ai-visual-studio:before {
  content: "\f20c";
}

.ai.ai-windows:before {
  content: "\f20d";
}

.ai.ai-xbox:before {
  content: "\f20e";
}

.ai.ai-alarm-clock:before {
  content: "\f20f";
}

.ai.ai-arrows-down-left-right-up-center:before {
  content: "\f210";
}

.ai.ai-beer:before {
  content: "\f211";
}

.ai.ai-bel:before {
  content: "\f212";
}

.ai.ai-bicycle:before {
  content: "\f213";
}

.ai.ai-book-open:before {
  content: "\f214";
}

.ai.ai-bootstrap:before {
  content: "\f215";
}

.ai.ai-box:before {
  content: "\f216";
}

.ai.ai-branch-up:before {
  content: "\f217";
}

.ai.ai-calendar-day:before {
  content: "\f218";
}

.ai.ai-calendar-week:before {
  content: "\f219";
}

.ai.ai-code-branch-up:before {
  content: "\f21a";
}

.ai.ai-code-branch:before {
  content: "\f21b";
}

.ai.ai-campfire:before {
  content: "\f21c";
}

.ai.ai-car:before {
  content: "\f21d";
}

.ai.ai-amaranth:before {
  content: "\f21e";
}

.ai.ai-coin:before {
  content: "\f21f";
}

.ai.ai-compass-drafting:before {
  content: "\f220";
}

.ai.ai-credit-card:before {
  content: "\f221";
}

.ai.ai-microchip:before {
  content: "\f222";
}

.ai.ai-terminal:before {
  content: "\f223";
}

.ai.ai-compact-disc:before {
  content: "\f224";
}

.ai.ai-ellipsis-v:before {
  content: "\f225";
}

.ai.ai-folder-image:before {
  content: "\f226";
}

.ai.ai-font-awesome:before {
  content: "\f227";
}

.ai.ai-gamepad:before {
  content: "\f228";
}

.ai.ai-horizontal-line:before {
  content: "\f229";
}

.ai.ai-hourglass-empty:before {
  content: "\f22a";
}

.ai.ai-hourglass-end:before {
  content: "\f22b";
}

.ai.ai-hourglass-half:before {
  content: "\f22c";
}

.ai.ai-hourglass-start:before {
  content: "\f22d";
}

.ai.ai-instagram:before {
  content: "\f22e";
}

.ai.ai-jester-hat:before {
  content: "\f22f";
}

.ai.ai-laravel:before {
  content: "\f230";
}

.ai.ai-min:before {
  content: "\f231";
}

.ai.ai-paper:before {
  content: "\f232";
}

.ai.ai-plane:before {
  content: "\f233";
}

.ai.ai-plate-utensils:before {
  content: "\f234";
}

.ai.ai-printer:before {
  content: "\f235";
}

.ai.ai-notes:before {
  content: "\f236";
}

.ai.ai-kite:before {
  content: "\f237";
}

.ai.ai-thumbstack-slash:before {
  content: "\f238";
}

.ai.ai-thumbstack:before {
  content: "\f239";
}

.ai.ai-shoe-prints:before {
  content: "\f23a";
}

.ai.ai-signature:before {
  content: "\f23b";
}

.ai.ai-star-half:before {
  content: "\f23c";
}

.ai.ai-starscout:before {
  content: "\f23d";
}

/*# sourceMappingURL=Amaranth.css.map */